.colorTop{
    color: #29b6f6;
}
.colorBottom{
    color: #166991;
}
.register{
    /*height: 100vh;*/
    background-image: linear-gradient(#29b6f6, #166991);

    display: flex;
    justify-content: center;
    /*align-items: center;*/

    text-align: center;
}
.container{
    width: 350px;
    /*height: 95vh;*/
    background-color: white;
    border-radius: 40px;

    margin: 40px 0;
    /*padding-bottom: 30px;*/
}
.form{
    text-align: left;
    margin-bottom: 15px;
    padding:5px 15px;

    background-color: #f3f3f3;
    border: none;
    outline: none;
    color: #7f9eb2;
}
.registerBtn{
    background-color: #0a4c6c;
    width: 86%;
    border-radius: 25px;
    font-weight: 500;
}

.kanoonBtn{
    background-color: white;
    width: 86%;
    border-color: #9bb6c1;
    border-radius: 25px;
}

.darkBlue{
    color: #0b4c6a;
    font-weight: 500;
}