/*custom carousel item*/
.slick-slide > div {
    width: 85%;
    height: 250px;
    margin: 0 12px;
}

*{
    cursor: default;
}

.r-person{
    content: "\e02f";
}
.r-person:before {
    content: "\e02f";
}
