.btnStart{
    position: absolute;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    width: 220px;
    background-color: #ed1c24;
    text-align: center;
    padding: 6px 0;
    transform: translate(-50%, 0);
    font-size: 22px;
}