.container {
    background-color: #33a3dc;
    display: flex;
    position: relative;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)
}

.secondText {
    color: #80c5e9;
    display: inline-block;
}

.number {
    color: #80c5e9;
    display: inline-block;
    font-size: 44px;
    margin-left: 10px;
}

.secondaryText {
    color: #80c5e9;
}

.topHeader {
    font-size: 36px;
}

.bottomHeader {
    font-size: 27px;
}

.btn {
    margin: 12px;
}

.btnStart {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: white;
    border-radius: 25px;
    width: 220px;
    background-color: #ed1c24;
    text-align: center;
    padding: 6px 0;
    transform: translateY(50%);
    font-size: 22px;
}
